.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.ctext-color {
  color: #282c34;
}


.my-profile {
  margin-right: -30px; 
  margin-left: -10px;
  
}


.dropdown-mobile {
  margin-left: 5rem;
}


.whiteText {
  color: #ffffff !important; /* Use !important if needed */
}




.custom-dropdown .dropdown-toggle {
  color: #ffffff !important; /* Set the text color to white */
  
  
}


.custom-link {
  color: blue;
  text-decoration: underline; /* Add underline decoration by default */
  transition: color 0.3s ease; /* Smooth transition for color change */

  /* Hover effect */
}

.custom-link:hover {
  color: red; /* Change color to red on hover */
  text-decoration: none; /* Remove underline on hover */
}


.list-group-item .custom-button {
  background-color: black; /* Set the initial background color of the button to black */
  transition: background-color 0.3s ease; /* Smooth transition for color change and box shadow */
}

.list-group-item .custom-button:hover {
  background-color: blue; /* Change background color to '#4091ed' on hover */
  
}


.headerButtons {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  border-radius: 30px !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6) !important;
  width: 120px; 
  height: 40px; 
}

.headerButtons:hover {
  background-color: #1f73c9 !important;
  color: white !important;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6) !important;
  box-shadow: 0 0 20px 12px rgba(255, 255, 255, 0.5) !important; /* White box shadow on hover */
 
}


.custom-dropdown-item {
  display: flex !important;
  justify-content: center; /* Horizontal center alignment */
  width: 100%; /* Ensure full width */
}


/* Add this CSS for the rounded corners */
.rounded-dropdown .dropdown-menu {
  border-radius: 10px; /* Adjust the value to change the roundness */
}


.addMargin {
margin-right: 3rem !important;
}



.formContainer {
  border: 1px solid #050505; /* Border style */
  border-radius: 15px; /* Border radius */
  padding: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}



/* Add styles for login button hover effect */
.buttonStyle:hover {
  background-color: #1f73c9 !important;
  color: white !important;
  /* Add any additional styles needed on hover */
}


